<?xml version="1.0"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TSqlMigrations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TSqlMigrations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<TSqlMigrations.Properties.Settings>
			<setting name="ServerConnection" serializeAs="String">
				<value>
					initial catalog=localhost; integrated security=true
				</value>
			</setting>
		</TSqlMigrations.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<TSqlMigrations.Properties.Settings>
			<setting name="FileCreateDatabase" serializeAs="String">
				<value>Database.sql</value>
			</setting>
			<setting name="FileCreateMethods" serializeAs="String">
				<value>DatabaseMethods.sql</value>
			</setting>
		</TSqlMigrations.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
</configuration>